#logo{
    cursor: pointer;
    color: #ff9f0d;
    font-weight: 900;
    font-size: 1.7rem;
    width: fit-content;
}

#logo h1{
    font-weight: 900;
    font-family: 'Rubik Vinyl', cursive !important;
}

#navbarButtons{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#recipes, #shopping-list{
    width: 45%;
    height: 55%;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: white;
}