<div id="MainBody">
    <div id="left-sec">
        <div id="left-sec-innerWrapper">
            <div id="banner-text">
                <img src="../../assets/bannerText.png" alt="Special healthy menu :)">
            </div>
            <div id="banner-button">
                <button id="addNewBtn" (click)="sendDataToService()"> <p>Add new recipe →</p> </button>
            </div>
        </div>
    </div>
    <div id="right-sec">
        <img id="abstractBg" src="../../assets/abstractBg2.png">
        <img id="burger" src="../../assets/plate.png">
    </div>
</div>