<div id="recipe-list-container">
    <div id="overlay"></div>
    <div id="hollow-circle"></div>
    <div id="recipe-list-inner-wrapper">
        <div class="list" *ngFor="let data of service.data" (click)="showDetails(data.name)">
            <div class="foodImage">
                <img src={{data.imageSrc}} />
            </div>
            <div class="foodName">
                <h2>{{ data.name }}</h2>
            </div>
        </div>

        <div class="list" *ngFor="let data of service.data">
            <div class="foodImage">
                <img src={{data.imageSrc}} />
            </div>
            <div class="foodName">
                <h2>{{ data.name }}</h2>
            </div>
        </div> 
    </div>
</div>


<!-- <li *ngFor="let rec of service.data" >{{rec.name}}</li>  -->