#header{
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    background-color: #ff9f0d;
    justify-content: space-between;
}

#MainBody{
    width: 100vw;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}


#circle-animation{
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 1000px;
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
/*    background-color: #ff9f0d;*/
}

#circle-animation img{
    width: 150px;
    height: 150px;
}















#modal{
/*    top: -100%;*/
    right: 20px;
    width: 300px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    transition: 0.2s;
    border-radius: 10px;
    background-color: white;
    
}

#color-bar{
    width: 13px;
    height: 100%;
/*    background-color: rgb(255, 36, 36);*/
}

#text{
    width: 80%;
    height: 100%;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}